[2014-06-11 20:40] doshprompt opened #2 "Support HTML in token string values for i18n directive"

[2014-06-17 17:04] doshprompt opened #3 "Make localeConf a provider / override single values."

[2014-07-03 23:42] doshprompt opened #4 "i18n directive errors on non-tokens"
should let strings pass through similar to the filter.

[2014-07-04 00:05] #4 closed, assigned to doshprompt

[2014-07-25 00:27] doshprompt opened #5 "i18n directives should evaluate input for constructed token strings."
<any data-i18n="'test.' + value"></any>

For now we can use interpolation like so:

<any data-i18n="{{ 'test.' + value }}"></any>

[2014-07-25 00:28] doshprompt opened #6 "wrap module within self-executing function to prevent conflicts during bootstrap"
Closed in https://github.com/doshprompt/angular-localization/commit/1e4b0bf498a369079f5d3cbd46ba128102df7d2c but forgot to add to footer of commit.

[2014-07-25 01:29] #6 closed, assigned to doshprompt

[2014-09-23 02:30] zzmp opened #7 "Link to the docs in the repo description"
Just add the site, http://doshprompt.github.io/angular-localization/, to make it more discoverable.

[2014-09-23 02:48] #7 closed, assigned to doshprompt

[2014-10-03 18:11] demisx opened #10 "Migration to gulp.js?"
Hi Rahul. I've really enjoyed your talk at Google AngularJS Meetup (just couldn't tell what city this was in). I believe you've mentioned willingness to migrate from Grunt to Gulp.js build. Is this something you are still interested in?

[2014-10-06 16:34] nikolaygit opened #11 "Support rendering of JSON arrays"
Is it possible to render translated texts that are in JSON arrays?
E.g. like that: http://plnkr.co/edit/n6we0O96vlSo67MDyJqs?p=preview

Such a feature is key for the applications I am building.

[2014-10-06 17:20] #2 closed, assigned to doshprompt

[2014-10-06 18:23] #11 closed, assigned to nobody

[2014-10-06 22:53] #10 closed, assigned to doshprompt

[2014-10-07 01:35] doshprompt opened #13 "Full spectrum browser testing on SauceLabs"

[2014-10-15 11:33] twistymcgee opened #14 "Load localeSupport from Remote Service"
I was wondering if it's possible to load the supported locales from a remote REST service. I have to define supported languages there as well so I wanted to be able to do it once. I'm just not sure how to go about setting the localeSupported value that way or if it would work at all.

[2014-10-15 19:34] bradledbetter opened #15 "i18n filter doesn't work in v1.1.2"
I have a fairly large app in development that uses the i18n filter in angular-localization quite a bit. I was using 1.0.1 and just upgraded to 1.1.2 and the filter stopped working. The attribute directive and service still work as expected. I confirmed this behavior in the demo app included in this repository.

I stepped into the code, and it looks like the filter fires when expected and causes th

[2014-11-05 17:44] lazarhub opened #16 "[FR] Separate plural and gender messages from html markup"
Wondering if it's possible to move whole pluralize staff from HTML markup to substituted strings?

The main con of the following example that developer has to know all plural cases in advance for all languages. Adding new language require html update and makes it dirty as adds more language specific cases.

[code]

It would be better to simplify HTML to specify message key and optional gender/plur

[2014-11-07 07:49] romanstumm opened #17 "project "nlstools" helps to write/manage the .json files"
Hello,

in many of our projects (java, flex, js...) we use the nlstools (https://code.google.com/p/nlstools/) to manage the localization texts, to convert them between xml, excel (to let customer edit them), merge/add locales, validate/find missing translations, compare and generate .json, .java, ... files from it.

We are using angular-localization in our current projects. nlstools also support t

[2014-11-26 19:50] pyfisch opened #18 "Support for Angular 1.3?"
Hello,
is there support for AngularJS 1.3, if there is, the bower file should be updated.

[2014-12-01 18:08] demisx opened #19 "Distributed resource files"
Is it currently possible to distribute resource files across multiple folders instead of placing them all under one folder off of the root path (e.g. `languages/`)? We are using component based file organization and would like each component to have its own `languages/` directory that we'd call `i18n/`.

[2014-12-04 19:38] rgolea opened #20 "Multiple languages by admin."
Hi there... I've been having an issue: I've been saving twice my information in my database because I want support my website in multiple languages. I'm making an admin panel so the person that wants the website can change content. The admin wants to publish himself the translation of every post on the website. I don't have total control over my REST service (I'm using deployd).

These are my colu

[2015-01-02 06:16] chiclets1979 opened #21 "circular dependency if used in http interceptor"
I tried to use this in my http interceptor to display translatable loading messages but it throws circular dependency error. Is this a known issue? Any workaround?

[2015-01-02 06:58] chiclets1979 commented on #21
Never mind, I fixed it by injecting it in the interceptor ( $injector.get('locale'))

[2015-01-02 06:58] #21 closed

[2015-01-08 20:53] yong86 opened #22 "rtl support"
Does angular localization supports rtl?.I mean if i select a rtl language,the directional context of the page is shifted from right to left.

[2015-01-09 11:00] vivdkool opened #23 "i was just wondering whenever i am changing locale by setlocale method why the locale.ready event is not trigerring which is written inside directive."
link: function(scope, element){
			scope.labels = {};
			locale.ready('radar').then(function () {
			    scope.labels.PLACE = locale.getString('radar.PLACE');
			    scope.labels.PRICE = locale.getString('radar.PRICE');
			    scope.labels.PROMO = locale.getString('radar.PROMO');
			    scope.labels.OPPORTUNITY = locale.getString('radar.OPPORTUNITY');
			    scope.labels.SALESDOLLARS = locale.getS

[2015-01-09 13:53] vivdkool opened #24 "I have another question is there any way to implement locale language files to e user specific"
i elaborate more

Suppose for default eng language i want to show "hello" to "Hi" for one user and for another "Hello".

Thanks

[2015-01-09 20:01] doshprompt commented on #23
Hi, this is expected. The locale.ready returns a promise, and the promise is resolved once the locale service has loaded the file requested in the language set.

When the language is changed a new promise is created to handle the new file load, so your locale.ready won't re-trigger since it is hooked to the old promise. There is no way to reset a promise so you will have to attach a new locale.rea

[2015-01-09 20:12] doshprompt commented on #24
Doesn't seem like this is a much requested feature so as of now there is no formal support.

However, I can suggest a workaround that may suit your use case.

__example.json__

[code]

__myController.js__

[code]

__myView.tmpl.html__

[code]
-- OR --
[code]

Then you may have to write a script which hooks into new user creation (either at the api-level or db-level)  or runs every few mins to go t

[2015-01-12 09:31] MichalMazurek opened #25 "Protractor testing"
Hi,

Did you guys notice that when you run the tests from protractor, the localisation is not run?
E.g.

    expect($(".more-button span[data-i18n='navbar.more']").getText()).toNotBe("")

This fails unfortunately, do I need to add something in beforeEach to wait for the localisation? I think that might be the problem.

Thanks for the great job :)
Michal

[2015-01-27 15:40] CrunchyArtie opened #26 "i18n filter does not work"
It's simple, with this :

## common.lang.json

    {
        "test" :  "Ca marche !"
    }

## ctrl.js

    $scope.strings = [];
    locale.ready('common').then(function () {
        $scope.strings.test = locale.getString('common.test');
    });

## app.js

         .value('localeConf', {
                basePath: 'languages',
                defaultLocale: 'en-US',
                sharedDictionar

[2015-01-27 16:29] raphox commented on #15
Thanks @doshprompt

Im using 'ui.router' and now it is working. My code is:

[code]

[2015-01-27 20:50] #15 closed

[2015-01-27 22:34] raphox commented on #15
@doshprompt
When I use 'locale.setLocale(loc);' occurs same problem when I dont have the resolve on stateProvider.
When I call 'locale.setLocale(loc);' only directives receive translations, in filter i18n nothing happens.

[2015-01-29 12:06] GiperScriper opened #27 "Problem with embedded JSON"
Hi, when i try to use json format like this :
[code]

[2015-01-29 12:47] borismee commented on #18
+1

[2015-01-29 19:09] doshprompt commented on #27
The framework doesn't support nested json. Can you not split up the nested objects into different json files so that each file has a single-level json?

[2015-01-30 17:28] jderrough commented on #25
Hi Michal,

You can take a look at how things are done in https://github.com/doshprompt/angular-localization/blob/master/tests/unit/directiveSpec.js

Cheers,
Jonathan

[2015-02-06 19:12] sean-roberts commented on #26
+1 having the same issue.

[2015-02-06 20:02] doshprompt commented on #26
@sean-roberts, @CrunchyArtie what version of angular are you using?

[2015-02-06 20:06] sean-roberts commented on #26
1.3.8

[2015-02-10 11:42] abdheshkumar commented on #15
@doshprompt
How can i change locale at run time by clicking on button??
Here is my code example but it's not changing locale.

app.controller('exampleCtrl', [ '$scope', 'locale', 'localeEvents',
		function($scope, locale, localeEvents) {
			$scope.changeLocale = function() {
				console.log("::::I:::::" + locale.getLocale())
					locale.setLocale("fr-FR");
				console.log("::::II:::::" + locale.ge

[2015-02-10 17:45] doshprompt commented on #15
@abdheshkumar what version of angular are you running? Also, can you create a plunker/jsfiddle to reproduce the problem, it will be easier for me to debug there.

[2015-02-11 20:26] diegosanchez opened #29 "Setup defaultLanguage other than es-US for angular APP at start time"
Specifically I tried to setup 'es-AR' language fruitlessly. I couldn't find a way to do it even using this piece of code:

[Module setup](https://github.com/doshprompt/angular-localization#module-setup)
[code]

So that, I dug into the code and I found that ```defaultLocale``` is being ignored in favor of cookie value (COOKIE_LOCALE_LANG). Here:
https://github.com/doshprompt/angular-localization/bl

[2015-02-18 18:56] jamescarter-le opened #30 "getString does not fallback to default Locale."
Love the framework, excellent job.

I have a question about the fallback locale.

I have an en-GB set of lang.json files which work just great.
I want begin to create an ar-AE locale, but so far I have just done one lang.json file.

However, what I would expect is that if the getString cannot find a bundle for this locale, it should use the fallback locale to try and find the token.

If not, it me

[2015-02-19 23:35] doshprompt commented on #30
That's in the roadmap, but for now the solution is to use [grunt-angular-localization](https://www.npmjs.com/package/grunt-angular-localization) which will generate a mirror of your default locale for the ar-AE locale except it won't mirror strings that you have already overridden. So there will be some more files that you will need to check in but the files will always remain up to date. I guess

[2015-02-20 10:46] jamescarter-le commented on #30
Hi Rahul,

  Thanks, I haven't had the time to modify your base files and add tests, but I've implemented this sufficient for my requirements here: https://gist.github.com/jamescarter-le/5ee99719b8c2a8271920

  It falls back to the default locale if there is not a token in the current locale.

Kind Regards,
James

[2015-02-20 20:04] doshprompt commented on #30
Thanks @jamescarter-le I will take a look and formalize it into the codebase, with tests etc. Looks good :)

[2015-02-24 18:14] brycecr commented on #25
On protractor testing, it appears to be broken in travis currently. Don't know much about protractor myself, but that seems like am impediment to code contributions going forward so should be fairly high priority.

I.e. I doubt master passes travis because protractor is failing creation. See example logs here:
https://travis-ci.org/doshprompt/angular-localization/builds/51906401

[2015-02-24 20:46] doshprompt commented on #25
@brycecr thanks for pointing that out, I have found the root cause of the issue is a fault with protractor + phantomjs (selenium, phantom most likely are to be blamed) and an issue is currently open on protractor

https://github.com/angular/protractor/issues/1512

I have disabled e2e testing altogether as it isn't very meaningful right now, will re-enable once the issue is fixed and/or we have som

[2015-02-26 11:01] Monyak opened #32 "Exception during initialization when cookie is missed (version 1.1.4)"
In latest version there was a change to browser locale detection:
https://github.com/doshprompt/angular-localization/commit/b69d76b97156b88dc0929cff958c280ab5167346
When cookies support enabled (so "cookieStore" is defined), but cookie is not present (opened first time), it passes undefined to setLocale(value) and application fails:
value.split('-')[0].
Thanks in advance.

[2015-02-26 19:31] #32 closed

[2015-02-26 19:39] doshprompt commented on #29
b69d76b97156b88dc0929cff958c280ab5167346

[2015-02-26 19:39] #29 closed

[2015-02-26 19:39] #25 closed

[2015-02-27 09:00] angel1st opened #33 "json key usage scenario"
Hi there,
Excellent job for the module. I have one question regarding key usage - in your example the key is always one word string e.g. 'helloWorld'. However, I used to have json file with pairs (key and value), coming from SailsJS locale and the are:

    {
          "Hello World": "Hello World",
          "Bye World": "Bye World"
    }

So my question is - Is it possible to invoke `i18n` in htm

[2015-02-27 19:17] #33 closed

[2015-02-27 20:24] jheadley commented on #26
+1 also having this issue with Angular 1.3.13

[2015-03-02 19:18] brycecr opened #34 "ng-pluralization and usage with languages of different numbers of plural modes"
I was thinking about ng-pluralize and angular-localization in the case where we have a phrase that is translated into two languages with different number of plural modes.

E.g.,  in english, we just want to use the simple rule one / other:
[code]

But if I then want translate to, say, russian, then the number of rules i need changes to 4 to something like:
[code]
However, I've already hardcoded th

[2015-03-05 00:25] brycecr commented on #26
+1 with 1.3.14

[2015-03-05 00:46] brycecr commented on #26
Attempting to figure out a bit more about this issue...

The filter is quite simple:
[code]
So if I have a page that only uses the filter, then locale.getString needs to somehow do the work of fetching and resolving mappings.

On the first load for the filter,
[code]
this above is the code path taken within getLocalizedString (a.k.a. getString). loadBundle does broadcast and follow up on promises,

[2015-03-07 14:51] angel1st opened #35 "tag content relpacement & parameter usage"
Hi there,
I have currently two case, where I need some assistance:

1. Tag content replacement:
Lets suppose I have html snippet like below, which requires localization:

    <button id="rotate_left" type="button" class="btn btn-default" > String requires Localization
        <i class="fa fa-undo"></i>
    </button>

I have noticed that using `i18n` directive actually replaces the whole tag conten

[2015-03-10 21:41] cdjackson opened #36 "Use of i18n-attr"
In the doc it says

What does ```prepended with a separator``` mean? Can you provide an example?

Thanks

[2015-03-11 21:13] brycecr commented on #34
This is essentially the same as issue #16

[2015-03-11 21:15] brycecr opened #37 "Gender support?"
What is the best practice using ngLocalize to provide different translations based on gender? Afaik, the current approach is to use ng-switch on a gender key, which, as #16 identifies, suffers from the issue that potential gender disparities have to be taken into account by the html author, not just the translator.

[2015-03-13 17:38] hoffbulldog commented on #26
The filter function needs to be marked as $stateful (see "Stateful filters": https://docs.angularjs.org/guide/filter).  You need a named function to do this...

[code]

[2015-03-14 10:44] cdjackson commented on #30
I haven't fully followed this through, but just a thought - does this account for the fallback locales (I don't think so)?

In my way of thinking, the fallback should be hierarchical - specified local first, then fallback local, then default local.

So, you might have - de-CH, de-DE, en-US (so Swiss German, then German, then English).

Looking at the code, I think the fallback locale is only proce

[2015-03-21 17:39] gogromat opened #40 "Language Culture Name specification"
Hi.

Thank you for the great library.

It's great that library tries to follow Language Culture Name specification by Microsoft, but it is bad for people making chrome extensions.

Look at the locale table from [chrome](https://developer.chrome.com/webstore/i18n?csw=1#localeTable)

They don't support Culture Names like fr-FR or ru-RU or whatnot.

That leaves me no option but to create separate fol

[2015-03-21 17:50] cdjackson commented on #40
Can you use the fallback -:

[code]

the above will point any ```en``` to ```en-GB```. Maybe I don't understand your question, but can't you use this to have only a single folder for each language?

[2015-03-21 17:56] gogromat commented on #40
So Chrome doesn't use cultural locales like fr-FR, they simply use fr, they don't use en-US, but en_US, so there are discrepancies.
So for chrome, I have a folder structure like en_US/messages.json, and for your library I had before en_US/common.json where I would put similar flat-json file.

Now, you switched to using Microsoft's spec, so I am forced to use en-US/common.json

But Chrome doesn't a

[2015-03-21 17:58] gogromat commented on #40
That goes for any languages, like:

- Russian:  Chrome: ru/messages.json and angular-localize: ru-RU/common.json

Instead, my desired way would be:
Chrome: ru/messages.json, angular-localize: ru/common.json

[2015-03-21 18:09] cdjackson commented on #40
Ok - sorry. Just thought this may help. If the issue is that your version of chrome is using an underscore instead of a hyphen, why not just convert it? It’s pretty simple to change the format?

I’ve been using this library for about 6 months and it’s always been the same format - maybe it changed a long time ago, but the format it’s using is pretty standard - in my version of chrome, using ```nav

[2015-03-21 18:15] gogromat commented on #40
O, so you use ```navigator.language``` to detect what language to use?
So the thing is I wanted to manually select what language to present.
Like user selects language from the menu in my app, and then it is stored in local storage.
Next time I open application up, I populate the ```defaultLocale``` with that language.
So I thought your library will see what defaultLocale is set and try to load la

[2015-03-21 18:20] cdjackson commented on #40
No - I also use a selection box - the same as you it seems. I assumed as you were saying that chrome returns ru_RU that you were using something to return the current locale. If you asking the user to select, then why not just use the format that the library uses? Maybe I’m missing something?

It seems I’m doing exactly the same as you - I store in local storage, then load on startup and call loca

[2015-03-21 18:42] gogromat commented on #40
So there is a problem with how language is being selected.

[code]
Here you set cookie store, if persistSelection was set to true.

Now below:

[code]

You just check if cookies were set, then set language from cookie. If no cookie, you take it from navigator.

In my mind, it should be like this:

[code]

Does it make sense?

[2015-03-21 18:45] gogromat commented on #40
So this turned to be a different problem from what I originally thought.

[2015-03-21 18:45] cdjackson commented on #40
Maybe someone else can answer this - I don’t use the cookies - I use my own local storage and then restore the locale as I mentioned previously. I don’t detect the browser locale at all - I default to English, and then provide a select box for the user to change their language preference. I then store this using local storage (not cookies) and restore it on startup next time.

[2015-03-21 19:14] gogromat commented on #40
Ok, I fixed my issue with

[code]

Btw, what do you mean you don't use cookies? You use session cookies... $cookieStore?
So in my case I don't have that. So either I fake $cookieStore .put/.get or fix by looking at ```localeConf.defaultLocale```. I don't want to look at ```navigator.language``` for the most part.

I will mark this issue as closed however.

Thank you for your time.

[2015-03-21 19:14] #40 closed

[2015-03-21 19:18] gogromat commented on #40
p.p.s. originally I thought that en-US was selected because of the Language Culture Name specification, but it was simply coming from ```navigator.language```, although I never ever stated in ```localeSupported``` that I use 'en-US' in my app.

[2015-03-21 19:19] cdjackson commented on #40
Glad you got it working :)

I use localStorage - it’s more flexible than cookies. You can store more data in it, and it doesn’t get transferred to the server.

http://www.w3schools.com/html/html5_webstorage.asp <http://www.w3schools.com/html/html5_webstorage.asp>

Cheers
Chris

[2015-03-21 19:29] gogromat commented on #40
Your ```bower.json```:
[code]

From angular-cookies library:
[code]

Ctrl+F in ```angular-cookies.js``` does nowhere shows ```Storage``` or ```sessionStorage``` or ```localStorage``` object.

From [here](https://stackoverflow.com/questions/3220660/local-storage-vs-cookies):
HTML5 has session scoped storage that can be used as a replacement for session cookies as well.

So from what I see you use s

[2015-03-21 19:40] cdjackson commented on #40
No - sorry for the confusion. This is done in my application - not in the library. I’m actually not the maintainer of the library, but as I use localStorage for other things in my application I use it also for saving the locale.

[2015-03-21 19:49] gogromat commented on #40
Right, ok.
My point was the maintainer uses cookies, which I for some reason don't have access to from an extension. Although before it seemed to work.

[2015-04-02 08:53] yechongbo opened #41 "how to use it together with ng-message"
Hi,

Is it able to use data-i18n directive or filter to localize ng-message?   it does not work like this. appreciate for suggestions in advance.

                <md-input-container>
                    <label data-i18n="login.username"></label>
                    <input type="text" ng-model="ViewData.UserName" name="UserName" required />
                    <div ng-messages="loginForm.UserName.

[2015-04-07 11:28] yechongbo commented on #41
wrap it up with a span

<div ng-message="required"><span data-i18n="common.required"></span></div>

[2015-04-14 07:19] ecancil commented on #15
Has this been fixed yet?  When i use your router fix i get the following error

Error: [$rootScope:inprog]

[2015-04-14 13:14] obarcelonap commented on #26
Not working using 1.4.0-rc.0

[2015-04-16 22:50] doshprompt opened #42 "Optionally support json5"
http://json5.org/

[2015-04-17 20:24] #18 closed

[2015-04-17 20:24] #26 closed

[2015-04-17 21:29] doshprompt opened #43 "Cache resource files to browser's LocalStorage to greatly improve application reload times."
To save on bandwidth and loading costs, we can use local storage to store our language files, which will greatly speed up the second and third time users visit our application.

Config should provide an option to allow the developer to specify a localStorage module to use, and if `true` use window.localStorage directly, if available.

[2015-04-20 19:18] doshprompt opened #44 "Add support for yaml if available"
Need to think about this one, whether it's needed or overengineering, Also, How to support it in the most extensible manner.

[2015-05-08 10:44] yechongbo opened #45 "how to make it work on windows phone 8.1 with cordova"
it reports an error while loading language resources which is

Error: The resource is a direct reference to a non-default resource candidate.

thanks!

[2015-05-08 13:11] cdjackson commented on #45
I use this on Android under Cordova and there are no problems - I don't do anything special.

[2015-05-09 08:53] smarts opened #46 "ARIA warning when localizing `aria-label` attribute"
AngularJS issues a JS warning if there is no `aria-label` attribute present on certain elements
(e.g., `<md-button></md-button>`)

Is there a way to prevent the warning when using something like this?:
[code]

[2015-05-10 06:27] doshprompt commented on #46
I will look into it, seems like it might be an issue with priority, let me know if you find anything then please submit a PR

[2015-05-11 06:36] yechongbo commented on #45
it's proven to be an issue related with windows packaging behaviour.  it has been fixed, thank you!

[2015-05-11 06:36] #45 closed

[2015-05-12 20:29] smarts commented on #46
It looks like a simple work-around is to simply add the `aria-label` attribute without any value and then the localization will substitute the correct value.

[2015-05-13 04:10] doshprompt commented on #46
@smarts thanks, glad that there is some working fix, but I think in the long run this may be very clunky, I am looking into it but good to know that it works for your use-case in some form :)

[2015-05-14 05:46] doshprompt commented on #46
@smarts another cleaner workaround imo is

[code]

[2015-05-16 18:26] smarts commented on #46
Isn't the performance worse in that case?

[2015-05-17 01:23] doshprompt commented on #46
@smarts yes you are right!

[2015-05-22 17:15] renatoch opened #48 "Start index of parameterized substitution of strings"
I'm using the parameterized substitution of strings, using {1}, {2}.

The project uses same resource files for angular and ASP.NET C#, and it starts the index on {0}. This will cause confusion and inconsistencies between resources used on both sides.

Is there a way to make angular-localization use 0 based substitutions?

[2015-05-23 04:54] doshprompt commented on #48
@renatoch will it work if I provide a configParam you can override (default to 0 if you do nothing in order to preserve existing functionality)

[2015-05-23 15:16] renatoch commented on #48
Yeah, it sure would, that would be perfect!
Em 23/05/2015 01:54, "Rahul Doshi" <notifications@github.com> escreveu:

[2015-05-23 15:27] renatoch opened #49 "Access resources as objects instead of strings"
Is there a way to access resource strings using object properties / keys instead of passing strings?

I've tried to get access to the resource bundle, but the variable is private, so I cannot even iterate to obtain list of keys.

This would make the code more readable, better syntax, and color coding in my text editor would be able to differentiate from regular strings in the code.

How I use toda

[2015-05-25 14:40] yrtimiD opened #50 "Configurable behavior on "key not found""
Please make "key not found" behavior configurable.
For example, I'd like to see the missing key instead of not very helpful %%KEY_NOT_FOUND%%

[2015-05-25 18:45] doshprompt commented on #50
Yes I think that is a good idea. I have been toying with the idea myself, but in the meantime you may look in the console log to see the missing key.

[2015-05-28 19:00] doshprompt commented on #49
Yes I think this is possible, however, you will still need to wrap the getString in a ready promise block, will that be fine?

[2015-05-29 02:22] renatoch commented on #50
Another option for a quick fix is to wrap the getString function in another function, and handle the key_not_found message returning the desired string and whatever other behavior needed.

[2015-05-29 02:29] renatoch commented on #49
Perhaps that wouldn't be needed. I intend to declare the variable in my controller initialization, and use locale.getString only on error messages and other stuff, which should give enough time to load all resources.

Me and a team member, @thiagoalves, were looking at promises and thread locking as a solution to another issue.
The idea is to either prevent page being shown while resources are not

[2015-06-01 17:28] doshprompt commented on #49
@renatoch if you want to prevent the page from loading, you can utilize `locale.ready()` which returns a promise. It's fully compatible with ui-router and ng-router resolves out-of-the-box.

The only caveat is that you will have to manually maintain the list of all possible resource files that must be loaded for any route.

For example:

[code]

will block route changes until both `hello.lang.json

[2015-06-01 20:21] renatoch commented on #49
Thanks for the info! We'll try it out and let you know.
Em 01/06/2015 14:28, "Rahul Doshi" <notifications@github.com> escreveu:

[2015-06-06 11:17] cdjackson commented on #49
I've implemented a ```getBundle()``` method to allow me to use angular-localization to load a complete bundle into another package which has its own i18n system. This might also cover the request here?

To use, you need to call -:
[code]

[2015-06-16 19:03] fredyang opened #52 "i18n filter does not work with angularjs 1.3 and 1.4"
just update bower.json file in the project by changing 1.2.x to 1.3.x to 1.4.x, the demo page will not work.

[2015-06-23 08:00] thenikso commented on #52
It does if you pre-load the language file. I think that [here](https://github.com/doshprompt/angular-localization/blob/master/src/localization.js#L279) there should be a  `locale.ready(locale.getPath(string))...` but if there isn't there probably is a reason (that I can not understand at the moment tho).

[2015-06-23 08:11] thenikso commented on #34
What I do for the moment is something like:

[code]

Which works just fine for a single/plural case avoiding filters.

[2015-06-23 19:48] doshprompt commented on #52
@fredyang it should work as the filter has been marked as `$stateful` as of some time ago: efcb669ead3cea49e9a9a164782805955cef0dbd

 I have just now verified it with angular v1.3.15

@thenikso you should no longer need to resolve locale.ready anywhere, it's taken care of under the hood by angular

https://github.com/doshprompt/angular-localization/blob/master/src/localization.js#L282

For more in

[2015-06-23 19:48] #52 closed

[2015-07-01 20:07] thiagoalves commented on #48
@doshprompt We need this urgently in our project, so we are willing to fix it and send a pull request, unless you are already looking into it. Anyway I will implement a workaround for to day and wait for you reply.

Thanks

[2015-07-01 20:38] doshprompt commented on #48
@thiagoalves I am happy to take a look at your PR once you have it. I was thinking about the issue but have not implemented it yet, sorry :(

[2015-07-01 22:24] thiagoalves commented on #48
@doshprompt No problem. I will come back with it in a few days.

[2015-08-15 14:27] tolbahadi commented on #22
The framework does not support that. You will need to add a locale change event handler to the direction of the document from `ltr` to `rtl`.

[code]

I will be nice though, if the framework were to automatically maintain the `lang` attribute of the `html` tag to match the current locale. That way you can write you css targeting this attribute.

[code]

[2015-08-15 14:36] tolbahadi opened #55 "Add support for preloading dictionaries"
For small apps it will be better if they can bundle their dictionaries with the source code at build time (using grunt or gulp) and set them directly and synchronously when the app loads. Instead of having to make another trip to the server to get the dictionaries.

Something like this;

[code]

Thoughts?

Thanks

[2015-08-16 17:18] doshprompt commented on #55
@tolbahadi let me think about this, the purpose of this library was to support async loading, but having said that, you are right, for smaller apps it might not be worth it.

I can consider adding a setDictionary method to locale that can be called at run time, does that make sense? It can then be populate by gulp/grunt as a .js file as part of your build process

[2015-08-16 17:19] doshprompt commented on #22
@tolbahadi yes I was thinking about modifying the lang attribute of the html document on localeChanges. Do you want to open a PR?

[2015-08-17 00:43] tolbahadi commented on #55
Yes! That makes sense.

Thanks..

[2015-08-18 18:31] #22 closed

[2015-08-31 20:40] samirgit opened #57 "defaultLocale not working"
hello i am trying to set the default local, but it's is always using 'en-US' by default.

i have to manually call local.setLocal('fr-FR') from my controller to set to the desired language and also the selection doesn't even persist!

donno if im doing it wrong since its a straight forward task. here is my implementation :

angular.module('myApp', [
	'ngLocalize',
	'ngLocalize.InstalledLanguages',

[2015-08-31 21:03] samirgit commented on #57
everything was solved after adding 'ngCookies'

[2015-08-31 23:09] doshprompt commented on #57
:thumbsup:

[2015-08-31 23:09] #57 closed

[2015-09-04 00:23] tolbahadi opened #58 "Fix "main" attribute in bower.json"
I think the `main` attribute in `bower.json` needs to be updated to `[ "dist/angular-localization.js", "dist/angular-localization.css"]`

Some build tools rely on this attribute to dynamically inject dependencies.

[2015-09-04 00:36] tolbahadi commented on #58
Also the `main` attribute in `package.json` needs to be updated as well

[2015-09-04 06:22] doshprompt commented on #58
Could you submit a PR please?

[2015-09-04 13:44] tolbahadi commented on #58
Sure I will.
thanks

[2015-09-04 15:51] #58 closed

[2015-09-15 02:12] bretkikehara opened #62 "Fix up angular-localization release"
Currently, angular-localization depends on an external repository to release its dependencies. The distribution was external, so angular-localization's install could be as small as possible. But this decision come with extra release complexities, so it was decide to deprecate [bower-angular-localization](https://github.com/doshprompt/bower-angular-localization/).

# Path to update release process

[2015-10-14 14:44] thenikso opened #70 "Add to the npm registry"
Could it be possible to `npm publish` this so that one can require it using `npm install angular-localization`?

At the same time it should then be possible to `require('angular-localization')` as well.

[2015-10-14 16:17] bretkikehara commented on #70
The fix for the overall release is in motion with issue #62

For a non-optimal solution, "doshprompt/angular-localization" can be added to bower as:

[code]

[2015-10-17 05:31] lance-anderson commented on #55
@doshprompt any chance you've made progress on this? in our small app, the lazy loading of the language files is noticeable when clicking around from screen to screen.

[2015-10-17 05:33] lance-anderson commented on #27
For small-ish apps like mine, a single language file would be nice as it would resolve the issue I'm having with language files loading slow; this would be a nice-to-have anyway but it'd also be a decent work around for #55.

[2015-10-19 10:06] sondreb commented on #70
+1! Needs to be added to NPM :+1:

[2015-10-19 10:23] doshprompt opened #71 "Angular2 compatibility"
Make app compatible with angular2 and/or rollout new fork `ng2-localization`

[2015-11-01 16:34] ladeiko opened #72 "add rejection of promise if loading of bundle failed"
add  if (deferrences[path]) {
                                    deferrences[path].reject(data);
                                }

to:

 $http.get(url)
                            .success(function (data) {
                                var key,
                                    path = getPath(token);
                                // Merge the contents of the obtained data into the stored

[2015-11-02 17:44] doshprompt commented on #72
That's a good idea, could you submit a formalized PR though? It will make the diff easier for me :)

[2015-11-03 00:46] unruledboy opened #73 "language choose and persist"
Firstly, I have to say this is a really awesome project, love it!

a few suggestions about language choose and persist.

1. it would be great to document the implementation of the real world usage, like the one you did at the top right hand side in http://doshprompt.github.io/angular-localization/   I spent a while to figure out how to replicate that in my project.

2. you did not mention develope

[2015-11-03 01:18] unruledboy commented on #55
related to this, angularjs supports resolve whenever a controller loads, to ensure by the time controller is rendered, all necessary data is ready.

currently we can use locale service like this:

`
locale.ready('common').then(function () {
  //logic here
});
`

how about this:

.when('/Foo', {
                templateUrl: 'foo.html',
                controller: 'fooCtrl',
                resolve:

[2015-11-03 01:21] doshprompt commented on #55
@unruledboy yes I think you can already do that? Is it not the case? If not let me know and I can debug and push a fix, that was always the intention.

[2015-11-03 01:26] unruledboy commented on #55
yes, I just used that way, and it works like a charm.

however, still do not know for those controllers without using route, for example, those header/footer controllers, how to resolve. need to read more docs from angularjs.

this is a great project, thanks for the effort!

[2015-11-03 02:28] doshprompt commented on #55
@unruledboy in those cases you will have to use the filter or the directive (recommended) as there won't be a way to load those if there is no route (and therefore no resolve)

[2015-11-03 02:40] unruledboy commented on #55
got it, thanks mate, will let you know it goes.

[2015-11-03 04:31] unruledboy opened #74 "i18n Filter Special Use-case not updating if language changes?"
in http://doshprompt.github.io/angular-localization/ I noticed that if I change the language, it won't update  the texts. is it by design? if so, I need to use Parameterized Arguments instead?

currently I use like this to work around:

    $scope.results = {
        fooMessage: function() {
            return $filter('i18n')('demo.foo' + localeConf.delimiter + JSON.stringify({
                fir

[2015-11-03 06:24] edmondchui opened #75 "Please Push Version 1.4.0"
I got the following error when trying to upgrade from version 1.2.1 to 1.4.0 via ```bower install```

[code]

Could you please push version 1.4.0?

Thanks,
Edmond

[2015-11-09 12:55] nick13jaremek opened #76 "Relative basepath not working"
Hi there,

I have configured this directive in my project based on the README example, as follows:

[code]

This module gets loaded in my Angular application correctly, and its file is located in a folder called `localization.module.js` among another folder called `languages`where I stored the `en-US` and `es-ES` `lang.json`files.

That is:
[code]

However, using the relative path as shown above r

[2015-11-09 17:56] doshprompt commented on #76
could you try changing the `basePath` config to the following:

`basePath: 'localization/languages'`

[2015-11-09 22:08] nick13jaremek commented on #76
@doshprompt Unfortunately, that does not work either. Using an absolute path starting from the project root works, but I was wondering about the relative path counterpart.

[2015-11-10 19:42] doshprompt commented on #76
@nick13jaremek interesting, I will take a look and get back to you, it might be a bug :)

[2015-11-11 06:04] edmondchui commented on #75
Hi @doshprompt,

When can you publish version 1.4 to the official repository?

Thanks,
Edmond

[2015-11-11 07:55] bretkikehara commented on #76
@nick13jaremek By any chance is the basePath relative to HTML path or to the javascript dist files?

Also, please include the minimum viable template and the absolute path from your project root.

[2015-11-11 07:57] bretkikehara commented on #75
Please see #62 for details regarding the release of 1.4.

[2015-11-11 08:22] bretkikehara commented on #73
1. Sorry to hear that it took a while to figure out! @doshprompt had put a together a [minimum viable demo app](https://github.com/doshprompt/angular-localization/tree/master/app). IMO the demo app could probably use some love to make it simpler to understand, but it works.

2. The [quickstart guide](https://github.com/angular/angular.js/blob/master/src/ngCookies/cookieStore.js#L4) mentions that c

[2015-11-11 09:54] unruledboy commented on #73
thanks for the reply, mate.

[2015-11-11 09:54] #73 closed

[2015-11-11 18:27] nick13jaremek commented on #76
@bretkikehara Sure, let me illustrate the directory structure of my project in more detail for my relative basepath attempt.

[code]

My app.module.js is the root JS file that loads the rest of the Angular modules (directives, services, etc...).

Then, in my `main.html` file, I have the following:

[code]

[2015-11-11 19:16] bretkikehara commented on #76
The templates look good.

Please ensure that the basePath needs is relative to your `index.html`.

Assume that you serve from `app` the folder with url `http://localhost/app/#/`. The full path would be `http://localhost/app/blocks/localization/languages`, so the bathPath will be `blocks/localization/languages`.

[2015-11-11 19:28] nick13jaremek commented on #76
@bretkikehara You are right!

I changed the relative basepath to `./app/blocks/localization/languages` (since my `index.html` file is located at the same level as the `app` folder) and now it works!

Thank you very much!

[2015-11-11 19:44] bretkikehara commented on #74
Please use parameters when accessing the $filter programmatically:

[code]
But I would highly recommend using the template filter instead! Otherwise, the `$filter` execution needs to be wrapped inside the `locale.ready` promise paradigm.

[code]

**Recommended Usage**
[code]

[code]

[2015-11-11 19:47] #76 closed

[2015-11-12 17:51] doshprompt commented on #74
@unruledboy please look at @bretkikehara's comment above. Another thing to note is that if you use the `$filter('i18n')` approach in your JS you will have to manually watch for language change events and rerun your `$filter('i18n')` code to assign the newly minted string values to your scope variables.

http://doshprompt.github.io/angular-localization/##events

[2015-11-13 05:54] edmondchui commented on #75
I managed to install version 1.4 via bower this way

[code]
I'll close this issue when the release of 1.4 is actually fixed.

[2015-11-15 18:15] ladeiko commented on #72
From 8223b3ddd1f5a8eb0e40d22c912587e6510db76d Mon Sep 17 00:00:00 2001
From: Siarhei Ladzeika <sergey.ladeiko@gmail.com>
Date: Sun, 15 Nov 2015 21:13:28 +0300
Subject: [PATCH] fix promise rejection

---
 src/localization.js | 7 ++++++-
 1 file changed, 6 insertions(+), 1 deletion(-)

diff --git a/src/localization.js b/src/localization.js
index f9cdad3..af5bae1 100644
--- a/src/localization.js
+++

[2015-11-15 18:15] ladeiko commented on #72
[0001-fix-promise-rejection.patch.txt](https://github.com/doshprompt/angular-localization/files/34938/0001-fix-promise-rejection.patch.txt)

[2015-11-15 19:08] doshprompt commented on #72
@ladeiko okay thanks either @bretkikehara or myself will pull this into the next release!

[2015-11-17 18:27] nick13jaremek opened #81 "Refreshing a view's localized strings dynamically on language change"
Hello there,

I was wondering if there is better way to update dynamically the localization of a view as soon as the locale changes.

Currently, I store the locale language in a cookie names `MY-LOCALE`, by default to `en-US`. Say the user clicks on a button to switch to the `es-ES` locale language. Right now, what I do is the following in code:

[code]

This changes the locale language cookie val

[2015-11-17 19:23] bretkikehara commented on #81
Yes, please look at `setLocale`. This will automatically update text in the template.

[code]

The only caveat is that if the string was updated programmatically using $filter, then the reference variable must be updated as well. The [example app's footer controller](https://github.com/doshprompt/angular-localization/blob/master/app/src/shared/components/footer/footer.ctrl.js) includes a good exam

[2015-11-17 19:48] nick13jaremek commented on #81
Indeed, the `setLocale` method works like a charm! I have my localized strings defined in JSON files, therefore there is no need to update any reference variables as in the footer examples. However, I will keep it as a reference for future cases.

Thank you very much @bretkikehara :smile:

[2015-11-17 19:48] #81 closed

[2015-11-18 07:10] bretkikehara commented on #72
Merged #80

[2015-11-18 07:10] #72 closed

[2015-12-24 13:00] ivanstojkovicapps opened #86 "Language persistence longer than session"
Hi,

is there a way to persist language longer than session.
If i set another language than my defaultLanguage, every time i refresh the page, it first loads the default language and than switches to selected language (i do that manually, after getting the user settings).
The problem would be solved it would be possible to save cookie longer then session.
I can do that manually, but every time the

[2015-12-24 17:01] doshprompt commented on #86
@ivanstojkovicapps that's interesting, let me take a look and debug and get back to you, it should store in the cookie and be permanent but if that's not the case I might need to fix something.

[2015-12-24 17:04] ivanstojkovicapps commented on #86
Hi,

angular 1.4.2
and i am loading ngCookies

I think the only problem is that the cookie expiration date is session. After the session is finished (on new one started) it doesn't have any data in the cookie and uses the default.

[2015-12-24 17:05] doshprompt commented on #86
@ivanstojkovicapps I see, that's interesting as I don't think we set the date anywhere. They might've added it in 1.4.x and I will have to take a look and update the codebase to conform. Thanks!

[2015-12-24 17:09] ivanstojkovicapps commented on #86
perfect!

[2015-12-24 18:39] doshprompt commented on #86
Seems like we are using `$cookieStore` which is deprecated in 1.4+
Good catch, do you want to submit a PR to use $cookies instead?

[2015-12-28 21:39] bretkikehara commented on #86
I don't think the issue is cookie store.

@ivanstojkovicapps Please correct if I am wrong, but it seems your user session will clear the cookie at a given interval. If we want to persist the locale beyond the user session, then it has to be set in localStorage or sessionStorage instead of the cookie.

[2015-12-28 21:41] bretkikehara commented on #86
imo, sessionStorage may suit the requirement, since sessionStorage may store the value longer than desired.

[2016-01-04 03:04] liquidboy commented on #71
Hi dosh,

Pardon the direct approach BUT has this ng2 work started?

I'm currently evaluating localization solutions for an angular2 project im working on and would love to use angular-localization if its compatible with ng2

[2016-01-04 03:09] doshprompt commented on #71
@liquidboy Nope, unfortunately I haven't found the time to build ng2 compat but I believe there are also working on a native solution. Would love some help building this out!

[2016-01-04 04:30] liquidboy commented on #71
Give me a bit of time to process the state of ng2's localization and also get my head around angular-localization ...  will love to contribute this if this is what we end up using :)

[2016-01-04 18:06] doshprompt commented on #71
Cool, thanks a lot @liquidboy, let me know what you think of ng2 localization, it would be good to know from the POV of someone else :)

[2016-01-15 21:12] nick13jaremek opened #89 "Language files load after in minified code, yielding empty localized strings"
Hello there,

After some struggling, I cannot seem to find a workaround to this issue. I have an Angular application with a custom module called 'localization', which "wraps" *angular-localization' as follows:
[code]

The thing is, in a development environment (**non-minified code**), the locale files specified in the **run** functions get resolved and loaded before the main view of my application

[2016-01-16 03:44] bretkikehara commented on #89
Please paste a minimum viable example of how you access the locale strings.
This should be a template or JS code.
On Jan 15, 2016 1:12 PM, "Nick Jaremek" <notifications@github.com> wrote:

[2016-01-18 19:08] nick13jaremek commented on #89
Hi there @bretkikehara

Apart from the snippet I posted, here is how I access the locale strings in my main view controller:

[code]

Then, in my main view template, I access the *main* object to show the localized strings:
[code]

However, no labels appear on the view template.

My temporary workaround consists on loading the localized strings directly on the controller, as follows:
[code]

[2016-01-18 19:27] doshprompt commented on #89
HI @nick13jaremek it looks like you are not rapping the blocks that call `locale.getString()` in your main view controller with `locale.ready()` but you are doing that in your workaround.

This is what I recommend in the original main view controller that is missing

[code]

Then you won't need your workaround solution. This is the right way and let me know if it works. But what would be even bett

[2016-01-19 08:11] nick13jaremek commented on #89
Wow, thank you SO much for the detailed response @doshprompt

Let me spend some time this week tweaking my code to match your proposed solutions. I would go with the last one, as it is easier to maintain and seems best practice.

As soon as I achieve a more efficient workaround based on your solutions, I will let you know here.

Again, thank you for the useful advices and your time :smile:

[2016-01-21 18:45] doshprompt commented on #89
@nick13jaremek no problem, let me know if your issue is solved so I can close this.

[2016-01-24 11:29] nick13jaremek commented on #89
Hello again @doshprompt !

I just modified my code to use your proposed solutions. In the end, I have used the the *i18n* filter like this:

[code]

However, I had to leave the main.buttons object in the MainController:
[code]

The reason for this last case is that the *main.buttons* object is passed to a directive in the MainController view, which in turn draws a series of buttons dynamically usi

[2016-01-25 18:03] #89 closed

[2016-03-02 16:23] mehrazK commented on #30
Hey guys, we're having the same issue for our project. Any update on when this fix is going to be in? At the very least, please support one fallback language for getString().

[2016-05-04 19:30] vim-zz commented on #70
+1

[2016-05-05 10:51] IronBy opened #92 "Replacement happens for the first occurence of a token"
If I have a sting in my localization file like 'Hello {name} and hello {name} again' then directive replaces only first occurence of {name} token while the second one leaves untouched.
We workaround this via additional token with the same value like 'Hello {name} and hello {sameNameAgain} again' but it looks weird.

[2016-05-05 17:13] doshprompt commented on #92
Hi, could you send me a full example

[2016-05-05 18:01] #92 closed

[2016-05-05 20:44] doshprompt commented on #70
Due to some pretty poor architecture decisions taken totally on my part to separate the bower and main repos, this will take some more time than I'd like though I'm working through it ... any ideas on how to combine the 2 repos and maintain legacy backwards-compatibility?

[2016-05-05 20:54] doshprompt commented on #41
Yep, @yechongbo is right ... here's an example: https://embed.plnkr.co/aYjdLRnwvfgAA251htJI/

[2016-05-05 20:54] #41 closed

[2016-05-05 20:55] #74 closed

[2016-05-05 20:56] #17 closed

[2016-05-05 20:58] doshprompt commented on #14
@twistymcgee did @demisx's suggestion work?

[2016-05-05 21:02] #20 closed

[2016-05-05 21:07] doshprompt commented on #55
@unruledboy You could also use `$httpBackend` to mock requests to certain files (in your case, the lang files for header, footer) like so:

[code]

and then you could keep your `.lang.json` files intact but use some build-time tool to generate from those files a `.js` files that looks like the code snippet above. (None of these are ideal, I know, sorry)

[2016-05-05 21:07] #55 closed

[2016-05-05 21:07] #14 closed

[2016-05-05 21:27] doshprompt commented on #24
Ideally, you should have those strings saved as preferences attached to the user object so you can totally bypass the localization step, as they will be hardcoded strings returned by the server.

[2016-05-05 21:27] #24 closed

[2016-05-05 21:32] doshprompt commented on #49
You can now listen on `localeEvents.resourceUpdates` which will include the bundle

[2016-05-05 21:32] #49 closed

[2016-05-05 21:41] doshprompt commented on #36
Take a look at these lines of code:

http://stackoverflow.com/questions/26170924/pascal-prechts-angular-translate-vs-rahul-doshis-angular-localization

[2016-05-05 21:41] #36 closed

[2016-05-05 21:43] doshprompt commented on #23
https://gist.github.com/revolunet/6771456

[2016-05-05 21:43] #23 closed

[2016-05-05 21:49] doshprompt commented on #46
Fixed in https://github.com/doshprompt/angular-localization/commit/629248d40b51178326f94ef184d25996b1d4393c

[2016-05-05 21:49] #46 closed

[2016-05-06 10:52] twistymcgee commented on #14
@doshprompt Sorry, I didn't get time to try it out. If/when I do I'll report back.

[2016-05-07 19:06] IronBy commented on #92
Thank you for the fix!

[2016-05-16 15:19] SeanMcMillan opened #93 "Better behavior for getText when locale isn't loaded."
https://github.com/doshprompt/angular-localization/blob/master/src/localization.js#L248-L267

getLocalizedString may release Zalgo.

I've got a big mess of an app. You don't care about that. It uses the i18n filter, which calls locale.getString, which is getLocalizedString. This returns an empty string because the bundle is not loaded, and triggers the bundle load. My app then goes on to do the wr

[2016-05-19 07:42] ivanstojkovicapps opened #94 "HTML Tags"
Hi,

is it possible to have something like:

`"property":"<strong>{1}</strong> my text here"`

best regards Ivan

[2016-05-22 16:23] doshprompt commented on #94
Yes it's possible but can only be rendered correctly by the directive form.

example/property.json

[code]

view template

[code]

[2016-05-22 16:23] #94 closed

[2016-06-28 17:53] ssj3sunny commented on #30
+1

[2016-07-14 18:54] sardesh opened #96 "Does not support the dynamic locale loading for date, currency and number"
I did not find a way with this library to load locale dynamically on language change.
eg. **I want switch between i18n/angular-locale_en-us.js and i18n/angular-locale_de-de.js when language changes**

Is this feature not supported?

[2016-07-14 21:06] doshprompt commented on #96
https://github.com/lgalfaso/angular-dynamic-locale

[2016-07-14 21:06] #96 closed

[2016-08-05 15:55] jcachat opened #97 "Bower package dependency is causing angular version to cascade update"
In "bower.json", you are specifying the versions of your dependencies as ">=1.2 < 2".  This is causing bower to download the most recent version of those packages.  "angular-sanitize" has been upgraded (as of now, to version 1.5.8) which requires Angular 1.5.8.  So this is causing my entire project to suddenly upgrade Angular itself to 1.5.8 when I am expecting it to be 1.4.7!

And because "saniti

[2016-08-22 01:08] bretkikehara commented on #97
I would suggest it is good practice to define all dependencies inside your package.json even the child dependencies so there is no confusion on how bower should resolve.

Say we set angular to be 1.4. If I am not mistaken, the problem with setting a static version in our library is then anyone with angular 1.5 or greater will have resolution conflicts. IMO, a library should be loose on its child d

[2016-08-24 17:27] jcachat commented on #97
Yes, I agree.  I can see how that could just cause other dependency issues.  Ideally, it would probably be handled better by bower (to do a better job of picking dependent packages with a range of versions to avoid upgrading a package I have included).

We have already gone through the other packages we use and made sure we're including any necessary dependencies.  So it's all working fine now.  W

[2016-08-24 17:27] #97 closed

[2016-09-20 09:37] thenikso commented on #70
I was almost able to install with npm using `npm i --save-dev doshprompt/angular-localization#1.5.0`

but the `main` configuration in `package.json` [here](https://github.com/doshprompt/angular-localization/blob/master/package.json#L5) is wrong, it should just be `"main": "dist/angular-localization.js"` not an array.

[2016-09-22 14:28] alaksandarjesus opened #98 "Setting up default locale"
Hi

I am trying to set the default locale and my configuration is as below.

`var  localeConf = {
    basePath: 'languages',
    defaultLocale: 'ta-IN',
    sharedDictionary: 'common',
    fileExtension: '.lang.json',
    persistSelection: true,
    cookieName: 'COOKIE_LOCALE_LANG',
    observableAttrs: new RegExp('^data-(?!ng-|i18n)'),
    delimiter: '::',
    validTokens: new RegExp('^[\\w\\.-]+

[2016-09-22 15:03] bretkikehara commented on #98
Try open the page in incognito mode. Iirc the default locale is cache in
local storage
On Thu, Sep 22, 2016 at 7:28 AM alaksandarjesus <notifications@github.com>
wrote:

--
Sincerely,
Bret Ikehara

Sent from my iPhone

[2016-10-11 10:06] youfacepalm commented on #98
Looks like I am having the same problem too. Followed everything as in the doc, tried in incognito mode but still the default locale is not changed

[2016-11-27 18:27] dk253 opened #101 "Refresh on sub-pages loses translations"
Using v1.5.0.  Works great on home page and subsequent pages until I do a refresh on a sub-page.  Then it loses its mind and finds no keys.  I may be doing something wrong, but I cant figure it out.

[2016-11-27 23:00] bretkikehara commented on #101
please share your config. Without looking at anything, my guess is the `basePath` is a relative URL to your webapp. Try set the `basePath` URL with `/` instead of being relative to the host.

[code]

[2016-11-28 11:04] angel1st opened #102 "Provide defaultLocale key, in case the one from the current locale is missing"
Hi there,
My use case is:

I have a locale e.g. **de** but is could be the case when for this specific (or any other locale but `defaultLocale`) I could have missing key(s). In such cases at the moment I see `%% key not found%%` string.
Could it be possible if in such cases the `defaultLocale` key is used?

Thanks,
Angel

[2016-11-28 16:21] dk253 commented on #101
That did it!  Thanks!

I was following the example in the readme and just had

I guess it should be:

[2016-11-28 16:30] #101 closed

[2016-11-28 16:39] bretkikehara commented on #102
IMO, this problem shouldn't be solved at runtime.

Try use a localization manager. I've written a tool to use google sheets to manage the bundles. https://github.com/bretkikehara/i18n-cli by default this tool will create create module exports for use with browserify or webpack, but I built support for Json files. Just set the type as json

[2016-12-08 23:25] soldiercnorm opened #103 "success()/error() methods have been removed from Angular"
While performing a fresh install of my node module I noticed that the localization service was breaking. After some debugging I found that the cause was the $http call in order to get the json files. According to this commit [https://github.com/angular/angular.js/commit/b54a39e2029005e0572fbd2ac0e8f6a4e5d69014](https://github.com/angular/angular.js/commit/b54a39e2029005e0572fbd2ac0e8f6a4e5d69014)

[2016-12-08 23:53] #103 closed

[2016-12-13 03:52] mathewguest opened #105 "Unable to send escaped newlines into i18n-attr"
First of all, great module and super appreciate the hard work.

It doesn't seem like there is a way to pass escaped newlines, "\n", as data for i18n text. The desired use case is to use angular-localization to populate @title attributes for hover descriptions and to have line breaks in the descriptions. AFAIK, typical newlines aren't allowed in json and causes load errors if tried. If you pass an

[2016-12-14 18:01] johnaudas opened #106 "Please release 1.6 with the latest fixes"

[2017-01-12 14:33] ivanstojkovicapps opened #108 ".success is not a function"
Hi,

i tried with version 1.2.1, 1.5.0 and commit #104 but no success, every time i get

Error: $http.get(url)
                            .success is not a function. (In '$http.get(url)
                            .success', '$http.get(url)
                            .success' is undefined)

How to solve this?

best regards Ivan

[2017-01-18 18:55] SiCoe commented on #108
Are you using angular 1.6 or greater?

I believe they've now taken out the depreciated `.success()` and `.error()` functions from the promise returned from `$http.get()` (and other functions called from $http).

https://code.angularjs.org/1.5.7/docs/api/ng/service/$http#deprecation-notice

It's advised to use `.then()` instead.

Guessing angular-localization will need to be updated to cope with th

[2017-01-18 19:03] SiCoe commented on #108
I've just had a look at angular-localization codebase.

The following merged pull request seems to cover this:

https://github.com/doshprompt/angular-localization/commit/fc8ea1535b50d3acafc26ad72dfae5e90975d706

[2017-01-23 21:02] #108 closed, assigned to nobody

[2017-01-23 23:21] SiCoe commented on #108
I think this issue can only really be closed once the dist folder has been rebuilt and checked in as bower does not pick up the changes from the pull request.

[2017-01-26 15:34] chamard commented on #106
Yes please.

[2017-02-26 15:50] ivanstojkovicapps commented on #108
Its definitely not OK to close this, because angular-localization doesn't work with angular 1,6+

[2017-02-26 16:12] SiCoe commented on #108
Agree, needs to be reopened.

I've see a [folk by firemondev](https://github.com/firemondev/angular-localization) that's got it built with the changes needed for angular 1.6

[2017-02-28 14:31] andrewsmalek commented on #106
Release the latest version please

[2017-02-28 14:31] menasbeshay commented on #106
Please release 1.6 with the latest fixes

[2017-02-28 20:01] peter-martinez-62 opened #110 "angular-localization does not work with Angular 1.6.2"
code is using promise.success() instead of promise..then()

here is the error:
TypeError: c.get(...).success is not a function
    at p (http://localhost:9002/bower_components/angular-localization/angular-localization.min.js:8:1270)
    at q (http://localhost:9002/bower_components/angular-localization/angular-localization.min.js:8:1637)
    at http://localhost:9002/bower_components/angular-localiz

[2017-03-01 10:55] andrewsmalek commented on #106
I've made a build for **v1.6** using the latest sources for 28/02/2017
you may download it from here : https://drive.google.com/file/d/0B6ppbyCzTs4tOUpPSUhWYTZTVmc/view?usp=sharing

[2017-03-01 10:57] andrewsmalek commented on #110
you just need to use the latest Angular-Localization v1.6 which supports the new .then() instead of .success()
you may now download it from here until it got released officially : https://drive.google.com/file/d/0B6ppbyCzTs4tOUpPSUhWYTZTVmc/view?usp=sharing

[2017-03-08 21:41] shoebox639 opened #111 "Doesn't work with latest version of angular sanitize"
I'm using angular-localize#1.2.1 with angular#1.2.28. The bower.json dependencies is as follows:

[code]

This lead to the library not working recently because it installed angular-sanitize#1.6.3, which depends on angular 1.6. I get the following error from it.

[code]

I think this will break for everyone not using angular 1.6, as `info()` was only added to `angular.module` in 1.6.

[2017-03-08 22:06] shoebox639 commented on #111
A workaround is to add `"angular-santize": "~1.2"` to my `bower.json`, which forces the right version.

[2017-03-15 15:30] goody commented on #111
Had to do the same thing with angular-cookies.  Locked both of them in my bower.json:

    "angular-sanitize": "1.6.2",
    "angular-cookies": "1.6.2",

Seems it will affect anyone running ng < 1.6.3/latest.

[2017-03-16 12:48] shubhamkumarnayak opened #112 "please ignore"
I was adding this for another project and mistakenly added it here, please close it.

[2017-03-16 12:51] #112 closed, assigned to nobody

[2017-03-16 18:55] shubhamkumarnayak commented on #86
still facing the same issue.............

[2017-03-27 11:54] SDries commented on #110
@andrewsaad, your link doesn't work for me.
Do you have an alternative source?
Do you have an idea when angular-localization will support 1.6?

Thank you

[2017-03-31 21:22] andrewsmalek commented on #110
Angular-localization do support angular V1.6, but only the source code has the updates, not the distributed one yet, however.. I've updated the url for v1.6, it's working now.

[2017-03-31 21:24] andrewsmalek commented on #111
Or you may simply switch to the latest version of Angular-Localization v1.6 which do support the latest angularJS, angular-sanitize and angular-cookies.
you can download it from here :
https://drive.google.com/file/d/0B6ppbyCzTs4tOUpPSUhWYTZTVmc/view?usp=sharing

[2017-05-10 17:59] Carnid commented on #111
I have made a fork [here](https://github.com/Spiria-Digital/angular-localization)
It incorporates the latest changes to work with 1.6. It also adds a feature for nested json language files.
You can install it via bower using `bower install angular-localization-spiria --save`
Let me know if there are any [issues](https://github.com/Spiria-Digital/angular-localization/issues).

[2017-05-10 18:00] Carnid commented on #110
I have made a fork [here](https://github.com/Spiria-Digital/angular-localization)
It incorporates the latest changes to work with 1.6. It also adds a feature for nested json language files.
You can install it via bower using `bower install angular-localization-spiria --save`
Let me know if there are any [issues](https://github.com/Spiria-Digital/angular-localization/issues).

[2017-05-10 18:00] Carnid commented on #106
I have made a fork [here](https://github.com/Spiria-Digital/angular-localization)
It incorporates the latest changes to work with 1.6. It also adds a feature for nested json language files.
You can install it via bower using `bower install angular-localization-spiria --save`
Let me know if there are any [issues](https://github.com/Spiria-Digital/angular-localization/issues).

[2017-06-27 19:01] ancadogaru opened #113 "Reload laguage files when content is changed"
I;m not sure this is a bug but have no clue how to overcome it.
Whenever I add new keys to an existing language file they are not loaded until I hit ctrl+F5,
For the development environment there is no problem, but when I release a new versions I cannot instruct the users to hit ctrl_f5 to reload all the files.
Is there any method to force reloading?

[2017-08-18 12:02] milindCODEROR opened #114 "Throwing http exception"
As per the document, I implemented the localization but its throwing the below exception
TypeError: $http.get(...).success is not a function

I am using angular: 1.6.x version

[2017-08-19 15:43] doshprompt commented on #114
Can you give an example of your code?

[2017-08-30 07:35] PRIYA-MAMGAIN opened #115 "locale.getString sometimes give empty string in angular controller"
Hi
I am passing parameters to dataTable
oLanguage: {
"sLengthMenu": "_MENU_ "+locale.getString('app.menu-dropdown'),
"sSearch": locale.getString('app.search'),
"sEmptyTable": locale.getString('app.emptyTable'),
"sZeroRecords": locale.getString('app.zeroRecord'),
"sInfoFiltered": locale.getString('app.filtereddevices', ['_MAX_'])+ ')',
"sInfo": locale.getString('app.showingdevices' ,['_START_','_EN

[2017-09-06 20:54] doshprompt commented on #115
Hi @PRIYA-MAMGAIN ... that is strange, could you provide a full example please?

[2017-09-19 10:10] PRIYA-MAMGAIN commented on #115
Allan most of the times it doesn't show up. If you see the locale.getString() method, it gets the bundle and check if the bundle is loading it returns empty string.

Html:

.....
JS:

$scope.myDataGrid={
rowId: 'rowIdentifier',
dataTableOptions: {

aoColumns:[
{
sType:'html',
bSortable:false,
bSearchable:false,
colTitle:'',
mData:'rowIdentifier',
mRender:function(data,type){
return '<input type="c

[2017-09-21 07:04] doshprompt commented on #115
So it seems like you should be wrapping the entire `$scope.myDataGrid` assignment inside
[code]

[2017-10-11 23:19] doshprompt commented on #113
Hi @ancadogaru this could be related to a caching issue on the browser-side. Instead of making clients refresh (essentially Ctrl + F5 is forcing a reload without the cache) you can set your server HTTP headers for cache control to always expire. You could do this for just JSON files.

[2017-10-23 18:43] YegorDia commented on #110
Thanks Carnid!

[2017-11-22 13:02] studiocircus commented on #98
After a year later...
I changed initialSetLocale() to follow the developer choice, not the client configuration

`        function initialSetLocale() {
            setLocale(cookieStore && cookieStore.get(localeConf.cookieName) ?
                cookieStore.get(localeConf.cookieName) :
                /* getPreferredBrowserLanguage() */  localeConf.defaultLocale);
        }
`

[2018-01-16 18:23] alphatwit commented on #114
It's because Angular 1.6 doesn't support `.success`. you have to use `.then`

https://stackoverflow.com/questions/41169385/http-get-success-is-not-a-function

[2018-07-10 12:24] angel1st commented on #114
@doshprompt - what you should do is to replace your `$http.get(...)` call at line 106 with following code:

                        $http.get(url)
                            .then(function (data) {
                                var key,
                                    path = getPath(token);
                                // Merge the contents of the obtained data into the stored bundle.

[2018-08-08 10:28] shadabshamsi opened #117 "locale.getString() is giving empty string in controller on reloading the page ."
On using locale.getString(key, sub) the first time when the controller loads we are getting the locale.getString() value properly. If we reload the the page, the same locale.getString(key, sub) returns "".

This is only happening on reloading the page.
Please look into this issue.

[2018-09-04 08:53] anvlkv opened #118 "Hybrid app, bootstrap fails with TypeError: Cannot read property 'module' of undefined"
Hi, I migrating app to Angular. My AngularJs app uses `ng-localization`.

All my other angularjs dependencies are imported just fine. However `ng-localization` fails with `TypeError: Cannot read property 'module' of undefined`

[code]